@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  --clr-Softorange: hsl(35, 77%, 62%);
  --clr-Softred: hsl(5, 85%, 63%);
  --clr-OffWhite: hsl(36, 100%, 99%);
  --clr-Grayishblue: hsl(233, 8%, 79%);
  --clr-Darkgrayishblue: hsl(236, 13%, 42%);
  --clr-Verydarkblue: hsl(240, 100%, 5%);
  --clr-bg: hsla(48, 71%, 99%, 1);
}
*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
body,
#root {
  width: 100%;
  height: 1024px;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.attribution{
  text-align: center;
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
}
@media only screen and (max-width:768px){
  *:before,*:after,*{
    padding: 0;
    margin: 0;
  }
  *{
    grid-template-columns: initial;
    gap: initial;
    grid-template-columns: initial;
  }
  #root,body{
    display: initial;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    height: 2000px;
    align-items: center;
    margin: 0;
  }
  header{
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
    padding: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    height: 70%;
    gap: 30px;
  }
  main #primary-img {
    max-width: 100%;
    max-height: 100%;
  }
  main .title {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4rem;
  }
  main .new {
    background-color: var(--clr-Verydarkblue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 25px;
    color: white;
  }
  main .new article {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main .new h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
  }
  main .new h3 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  main .new p {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
  }
  main .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  main .desc p {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
  }
  main .desc button {
    width: 186px;
    height: 50px;
    color: var(--clr-OffWhite);
    text-transform: uppercase;
    background-color: var(--clr-Softred);
    font-size: 0.8rem;
    font-style: normal;
    border: none;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.2rem;
  }
  main .box {
    grid-template-columns: initial;
    max-width: 100px;
    max-height: 125px;
  }
  main .top-l {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-around;
  }
  main .top-l .top-t {
    color: var(--clr-Grayishblue);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  main .top-l .top-t2 {
    color: var(--clr-Verydarkblue);
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  main .top-l .top-p {
    color: var(--clr-Darkgrayishblue);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
  }
  
  main #t1 {
    display: flex;
  }
  
  main #t2 {
    display: flex;
  }
  main #t3 {
    display: flex;
  }
  footer{
    position: relative;
    text-align: center;
    bottom: 0;
  }
  #nav-resp img{
    position: absolute;
    top:0;
    right: 0;
    margin: 20px;
  }
  #nav-resp{
    position: absolute;
    background-color: hsla(236, 13%, 42%,0.6);
    transition: 2s;
    width:100%;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  #nav-resp ul{
    background-color: var(--clr-OffWhite);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width:50%;
    height: 100%;
    justify-content: baseline;
    align-items: flex-start;
    padding: 55px;
    padding-left: 20px;
  }
}